.ulala html, .ulala body, .ulala #app {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(circle, #fdedd4 24%, #ffd3a6 100%);
}

.ulala .app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ulala .content {
  flex: 1;
  overflow: hidden;

  /* safe area padding */
  padding-top: env(safe-area-inset-top);
  padding-bottom: calc(env(safe-area-inset-bottom) + 12px); /* +12px jei tavo nav bar */

}

/* Apatinė navigacija */
.ulala .bottom-nav {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  background: #111;
  color: white;
  padding: 6px 0;
  padding-bottom: calc(env(safe-area-inset-bottom) + 12px);
}

.ulala .bottom-nav button {
  background: none;
  border: none;
  color: #ff8c00;
  font-size: 30px;
  padding: 2px 16px;
  /*text-shadow:*/
  /*  1px 1px 2px rgba(255, 255, 255, 0.5),   !* šešėlis apačioje (įspaustas efektas) *!*/
  /*  -1px -1px 2px rgba(255, 255, 255, 0.3); !* viršuje šviesos efektas *!*/
}
